#registration_form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 3rem 0;
}

.detail-head{
    color: var(--main-color);
    text-transform: uppercase;
    padding: 0 0 .8rem 0;
    border-bottom: 1px solid var(--main-color);
    margin-bottom: .5rem;
}

.detail-head h2, .detail-head button, .submit-btn{
    z-index: 80;
}

.half{
    width: 45%;
}

.drop-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#drop{
    margin-right: 1rem;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    background: transparent;
    color: var(--main-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#drop option {
    outline: none;
    background-color: var(--second-bg-color); /* Base background color */
}

.input-container{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    padding: 4rem 3rem 4rem 3rem;
    margin: 0 auto;
    width: 40%;
}
  
.input-container::before{
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 92%, 91% 100%, 7% 100%, 0 92%, 0 0);
    clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 92%, 91% 100%, 7% 100%, 0 92%, 0 0);
    background: rgba(189, 68, 233, 0.903);
    transition: all 1s ease-in-out;
    z-index: 1;
}

.input-box{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.input-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98.5%;
    height: 98%;
    box-shadow: inset 0px 0px 20px 20px #212121;
    background: rgb(27, 27, 27);
    clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 92%, 91% 100%, 7% 100%, 0 92%, 0 0);
    animation: backglitch 50ms linear infinite;
    z-index: 2;
}
  
.registration .input-box, .in, .reg-btn, .radio-input{
    z-index: 80;
    font-size: 1.5rem;
}

.spc-input-box{
    position: relative;
    flex-direction: column;
}
  
.input-container .in{
    position: relative;
    background: transparent;
    padding: .8rem;
    margin: 1rem 0rem;
    color: var(--text-color);
    transition: all 1s ease-in-out;
    border: 0.1rem solid hsl(221, 26%, 43%);
    border-radius: 10px;
    resize: none;
}
  
.input-container .in:hover{
    transition: all 1s ease-in-out;
    background: linear-gradient(transparent 0%, rgba(226, 143, 254, 0.338) 100%, rgb(220, 142, 246) 100%, transparent 100%);
}
  
.in::-moz-placeholder, label {
    color: var(--main-color);
}
  
.in::placeholder, label {
    color: var(--main-color);
}
  
.input-container input[type="radio"]{
    margin-right: .5rem;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.mode-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.modes{
    width: 40%;
    margin-left: 3rem;
}

.modes label{
    margin-right: 1.5rem;
}

.reg-btn{
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    border: none;
    letter-spacing: 2px;
    background: transparent;
    color: var(--text-color);
    box-shadow: 0 0 .5rem white;
    transition: 0.3s ease;
    cursor: pointer;
    width: 30%;
    margin: 1rem auto 0;
  }
  
.reg-btn:hover{
    box-shadow: 0 0 .8rem var(--main-color);
    translate: 0 -.1rem;
}

#team-members-section{
    display: none;
}

.team-member-add .input-box{
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    margin: 1rem 0;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
}

.add-member{
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem .7rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
    color: var(--main-color);
    background: transparent;
    box-shadow: 0 0 .4rem var(--text-color);
}

.add-member:hover{
    box-shadow: 0 0 .8rem var(--text-color);
    /* translate: 0 -.1rem; */
}

.team-member-1 .input-box h2, .team-member-2 .input-box h2{
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}

.team-member-1 .input-box:first-child, .team-member-2 .input-box:first-child{
    justify-content: center;
}

.team-member-1 .spc-input-box{
    /* border-bottom: 1px solid var(--main-color); */
    margin-bottom: 1rem;
}



/* #team-member-section  */

@media (max-width:1230px){
    .input-container{
        width: 45%;
    }
}

@media (max-width:1140px){
    .input-container{
        width: 53%;
    }
}

@media (max-width:980px){
    .input-container{
        width: 65%;
    }
}

@media (max-width:730px){
    .input-container{
        width: 75%;
    }
}

@media (max-width:620px){
    .input-container{
        width: 85%;
    }
}

@media (max-width: 535px){
    .input-box .in{
        width: 100%;
    }

    .team-member-add .detail-head{
        margin-top: 2rem;
    }

    .team-member-1 .spc-input-box .in, .team-member-2 .spc-input-box .in{
        width: 96%;
    }

    .modes{
        text-align: center;
        width: 60%;
        margin: 1rem 0 0;
    }

    .reg-btn{
        width: 40%;
    }

}

@media (max-width: 493px){
    .team-member-add .input-box{
        justify-content: center;
        padding: 1rem 6rem;
    }  
    
    .add-member{
        margin: 1rem 1.5rem 0;
    }

    .team-member-add .detail-head h2{
        font-size: 2rem;
    }

    .team-member-1 .input-box h2, .team-member-2 .input-box h2{
        font-size: 1.8rem;
    }

}

@media (max-width: 415px){
    .team-member-add .input-box{
        justify-content: center;
        padding: 1rem 4rem;
    } 
}

