@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
scroll-behavior: smooth;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root{
    --bg-color: #0b0b0b;
    --second-bg-color: #0b081e;
    --text-color: #fff;
    --main-color: rgb(233, 171, 250);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    position: relative;
    /* background: liner-gradient(to bottom, #0b0b0b, rgba(54, 2, 54)); */
    background: linear-gradient(to bottom, var(--bg-color), rgba(54, 2, 54));
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
}
  
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #791b97;
    border-radius: 10px;
}

a{
    color: var(--text-color);
    text-decoration: none;
}
  
ul{
    list-style: none;
}

section{
    background: url(./media/Grid.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* padding: 10rem 9% 2rem; */
}

.title-span{
    color: var(--main-color);
}


/* ----- NavBar ----- */

.nav {
    position: fixed;
    top: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
    /* min-width: 30vw; */
    width: 35%;
    padding: 1rem 4%;
    background: var(--second-bg-color);
    /* backdrop-filter: blur(10px); */
    border-radius: 5rem;
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    z-index: 999;
  }

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    flex-wrap: wrap;
}

.nav-item{
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 5rem;
}

.nav-item a:hover{
    color: var(--main-color);
    transition: 0.5s ease-in-out;
}

.active{
    color: var(--main-color);
}

/* ----- Landing page ----- */


.home{
    position: relative;
    background: url(./media/home_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.home-container{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: #0b081e; */
    /* backdrop-filter: blur(5px); */
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.event-head{
    text-align: center;
    line-height: 45px;
}

.event-title {
    font-size: 10rem;
    text-transform: uppercase;
    /* backdrop-filter: blur(5px); */
    color: whitesmoke;
    letter-spacing: 3px;
    text-shadow: 0 0 10px var(--main-color);
    animation: glow 2s infinite alternate;
}
  
@keyframes glow {
    0% {
      text-shadow: 0 0 10px var(--main-color);
    }
    50% {
      text-shadow: 0 0 15px rgb(247, 123, 247);
    }
    100% {
      text-shadow: 0 0 10px rgb(251, 50, 251);
    }
}
  
.event-title span {
    font-size: 6.5rem;
    /* color: var(--main-color); */
}

.event-subtitle{
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--text-color);
    font-weight: bold;
}

.host-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    width: 40%;
}

.org-container h2, .coorg-container h2{
    font-size: 1.5rem;
}

.org-container img, .coorg-container img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
}

/* ----- Countdown ----- */

.example{
    width: 100%;
    margin-top: 3rem;
}

.example .flipdown{
    margin: auto;
}

/* Font styles */
.flipdown.flipdown__theme-dark {
    font-weight: bold;
    font-size: 1.5rem;
  }
/* Rotor group headings */
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #EFEFEF;
}
/* Delimeters */
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: var(--main-color);
}
/* Rotor tops */
.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
    color: #151515;
    background-color: #EFEFEF;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
    color: #202020;
    background-color: #EFEFEF;
}
/* Hinge */
.flipdown.flipdown__theme-dark .rotor:after {
   border-top: solid 1px #EFEFEF;
}
  
.flipdown {
    overflow: visible;
    width: 600px;
    height: 110px;
}
  
.flipdown .rotor-group {
    position: relative;
    float: left;
    padding-right: 30px;
}
  
.flipdown .rotor-group:last-child {
    padding-right: 0;
}
  
.flipdown .rotor-group-heading:before {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
  
  .flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
    content: attr(data-before);
  }
  
  .flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
    content: attr(data-before);
  }
  
  .flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
    content: attr(data-before);
  }
  
  .flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
    content: attr(data-before);
  }
  
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 115px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 115px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .flipdown .rotor {
    position: relative;
    float: left;
    width: 50px;
    height: 80px;
    margin: 0px 5px 0px 0px;
    border-radius: 4px;
    font-size: 4rem;
    text-align: center;
    perspective: 200px;
  }
  
  .flipdown .rotor:last-child {
    margin-right: 0;
  }
  
  .flipdown .rotor-top,
  .flipdown .rotor-bottom {
    overflow: hidden;
    position: absolute;
    width: 50px;
    height: 40px;
  }
  
  .flipdown .rotor-leaf {
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 80px;
    transform-style: preserve-3d;
    transition: transform 0s;
  }
  
  .flipdown .rotor-leaf.flipped {
    transform: rotateX(-180deg);
    transition: all 0.5s ease-in-out;
  }
  
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear {
    overflow: hidden;
    position: absolute;
    width: 50px;
    height: 40px;
    margin: 0;
    transform: rotateX(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  
  .flipdown .rotor-leaf-front {
    line-height: 80px;
    border-radius: 4px 4px 0px 0px;
  }
  
  .flipdown .rotor-leaf-rear {
    line-height: 0px;
    border-radius: 0px 0px 4px 4px;
    transform: rotateX(-180deg);
  }
  
  .flipdown .rotor-top {
    line-height: 80px;
    border-radius: 4px 4px 0px 0px;
  }
  
  .flipdown .rotor-bottom {
    bottom: 0;
    line-height: 0px;
    border-radius: 0px 0px 4px 4px;
  }
  
  .flipdown .rotor:after {
    content: '';
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 40px;
    border-radius: 0px 0px 4px 4px;
  }
  
  @media (max-width: 550px) {
  
    .flipdown {
      width: 312px;
      height: 70px;
    }
  
    .flipdown .rotor {
      font-size: 2.2rem;
      margin-right: 3px;
    }
  
    .flipdown .rotor,
    .flipdown .rotor-leaf,
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor:after {
      width: 30px;
    }
  
    .flipdown .rotor-group {
      padding-right: 20px;
    }
  
    .flipdown .rotor-group:last-child {
      padding-right: 0px;
    }
  
    .flipdown .rotor-group-heading:before {
      font-size: 0.8rem;
      height: 20px;
      line-height: 20px;
    }
  
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
      left: 69px;
    }
  
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
      bottom: 13px;
      height: 8px;
      width: 8px;
    }
  
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
      bottom: 29px;
      height: 8px;
      width: 8px;
    }
  
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-top {
      line-height: 50px;
    }
  
    .flipdown .rotor-leaf,
    .flipdown .rotor {
      height: 50px;
    }
  
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor:after {
      height: 25px;
    }
  }